{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
        {% csrf_token %}
        {% block script %}{% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' user.username %}"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">All Posts</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' %}">Following</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>

        <div id="post-template" style="display: none;">
            <div class="row post-card-outer">
                <div class="col-sm-6">
                    <div class="card post-card-inner">
                        <div class="row card-body">
                            <div class="col-sm-6">
                                <h5 class="card-title"><a href="">Author</a></h5>
                                <h6 class="card-subtitle mb-2 text-body-secondary">Timestamp</h6>
                                <p class="card-text">Content</p>
                                <h6 class="card-subtitle mb-2 text-body-secondary likes">Likes: 24</h6>
                                <button type="button" class="btn btn-primary like-btn">Like</button>
                                <button type="button" class="btn btn-primary edit-btn" style="display: none;">Edit Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <input id="is_authenticated" type="text" hidden value="{{ user.is_authenticated }}">
        <input id="username" type="text" hidden value="{{ user.username }}">

    </body>
</html>